{% extends "main.html" %}

{% block title %}LogIn{% endblock %}
{% block styling %}
{% endblock styling %}

{% block page_content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                        <form action="" method="POST">
                            <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                             <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <label for="exampleInputPassword1">Don't have an account? <a href="/register">Sign Up</a> Here</label>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}