{% extends "main.html" %}

{% block title %}LogIn{% endblock %}
{% block styling %}
{% endblock styling %}

{% block page_content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {% if error %}
                        <h5 style="color:red">Your Employee ID or Password was incorrect.</h3>
                    {% endif %}
                    <h5 class="card-title text-center">Login</h5>
                    <form action="" method="POST" autocomplete="off">
                        <div class="form-group">
                            <label for="employee_id">Employee ID</label>
                            <input type="text" id="employee_id" class="form-control" name="employee_id" placeholder="Enter email" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" name="password" placeholder="Password" autocomplete="off" />
                        </div>
                        <label for="exampleInputPassword1">Don't have an account? <a href="/register">Sign Up</a> Here</label>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}